
body  {
   min-height:100%;
   background-blend-mode: overlay;
   background-size:cover
}

.welcome {
   font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
   font-size: 3rem;
   color: aliceblue;
   background-image: url("../images/background.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
}

.center {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}